In [1]:
# Dependencies
import pymongo
import datetime
import pandas as pd
import re
pd.set_option('display.max_columns', None)

In [2]:
file = "../Data/ts19individual06taxablestatusstateterritorypostcode.xlsx"
ABS_data_df = pd.read_excel(file, 'Table 6A',skiprows=1)
ABS_data_df.head()

,Taxable status,State/ Territory1,Postcode,Number of individuals\nno.,Taxable income or loss3\nno.,Taxable income or loss3\n$,Tax on taxable income\nno.,Tax on taxable income\n$,Medicare levy\nno.,Medicare levy\n$,Medicare levy surcharge\nno.,Medicare levy surcharge\n$,Total Medicare levy liability\nno.,Total Medicare levy liability\n$,Net tax\nno.,Net tax\n$,HELP assessment debt\nno.,HELP assessment debt\n$,Salary or wages\nno.,Salary or wages\n$,Tax withheld from salary or wages\nno.,Tax withheld from salary or wages\n$,Allowances earnings tips directors fees etc\nno.,Allowances earnings tips directors fees etc\n$,Employer lump sum payments amount A\nno.,Employer lump sum payments amount A\n$,Employment termination payments taxable component\nno.,Employment termination payments taxable component\n$,Australian government allowances and payments\nno.,Australian government allowances and payments\n$,Australian government pensions and allowances\nno.,Australian government pensions and allowances\n$,Australian annuities and superannuation income streams taxable component taxed element\nno.,Australian annuities and superannuation income streams taxable component taxed element\n$,Australian annuities and superannuation income streams taxable component untaxed element\nno.,Australian annuities and superannuation income streams taxable component untaxed element\n$,Gross interest\nno.,Gross interest\n$,Dividends unfranked\nno.,Dividends unfranked\n$,Dividends franked\nno.,Dividends franked\n$,Dividends franking credit\nno.,Dividends franking credit\n$,Total Income or Loss no.,Total Income or Loss,Total work related car expenses no.,Sum work related car expenses,Work related travel expenses no.,Work related travel expenses\n$,Total work related uniform/clothing expenses\nno.,Total work related uniform/clothing expenses\n$,Total work related self education expenses\nno.,Total work related self education expenses\n$,Other work related expenses\nno.,Other work related expenses\n$,Total work related expenses\nno.,Total work related expenses\n$,Low value pool deduction\nno.,Low value pool deduction\n$,Interest deductions\nno.,Interest deductions\n$,Dividend deductions\nno.,Dividend deductions\n$,Gifts or donations\nno.,Gifts or donations\n$,Cost of managing tax affairs - Interest charged by the ATO\nno.,Cost of managing tax affairs - Interest charged by the ATO\n$,Cost of managing tax affairs - Litigation costs\nno.,Cost of managing tax affairs - Litigation costs\n$,Cost of managing tax affairs - Other expenses incurred in managing your tax affairs\nno.,Cost of managing tax affairs - Other expenses incurred in managing your tax affairs\n$,Total deductions3\nno.,Total deductions3\n$,Total reportable fringe benefits amounts - Employers exempt from FBT under section 57A of the FBTAA 1986\nno.,Total reportable fringe benefits amounts - Employers exempt from FBT under section 57A of the FBTAA 1986\n$,Total reportable fringe benefits amounts - Employers not exempt from FBT under section 57A of the FBTAA 1986\nno.,Total reportable fringe benefits amounts - Employers not exempt from FBT under section 57A of the FBTAA 1986\n$,Reportable employer superannuation contributions\nno.,Reportable employer superannuation contributions\n$,Net primary production distribution\nno.,Net primary production distribution\n$,Net non primary production distribution\nno.,Net non primary production distribution\n$,Share of franking credit from franked dividends\nno.,Share of franking credit from franked dividends\n$,Net PSI transferred\nno.,Net PSI transferred\n$,Deferred non-commercial business losses primary production deferred losses\nno.,Deferred non-commercial business losses primary production deferred losses\n$,Deferred non-commercial business losses non primary production deferred losses\nno.,Deferred non-commercial business losses non primary production deferred losses\n$,Capital gains net capital gain\nno.,Capital gains net capital gain\n$,Estimated tax on net capital gains\nno.,Estimated tax on net capital gains\n$,Capital gains total current year capital gains\nno.,Capital gains total current year capital gains\n$,Capital gains net capital losses carrier forward\nno.,Capital gains net capital losses carrier forward\n$,Foreign source income assessable foreign source income\nno.,Foreign source income assessable foreign source income\n$,Foreign source income other net foreign source income\nno.,Foreign source income other net foreign source income\n$,Foreign source income foreign income tax offset\nno.,Foreign source income foreign income tax offset\n$,Gross rent\nno.,Gross rent\n$,Rent interest deductions\nno.,Rent interest deductions\n$,Rent capital works deductions\nno.,Rent capital works deductions\n$,Rent other rental deductions\nno.,Rent other rental deductions\n$,Net rent - profit no.,Net rent - profit \n$,Net rent - loss \nno.,Net rent - loss \n$,Net rent3\nno.,Net rent3\n$,Other income category 1\nno.,Other income category 1\n$,Other income category 2 (ATO Interest)\nno.,Other income category 2 (ATO Interest)\n$,Other income category 3 (FHSS)\nno.,Other income category 3 (FHSS)\n$,Other income category 4\nno.,Other income category 4\n$,Personal superannuation contributions\nno.,Personal superannuation contributions\n$,Other deductions\nno.,Other deductions\n$,Total business income - primary production\nno.,Total business income - primary production\n$,Total business income non-primary production\nno.,Total business income non-primary production\n$,Total business income3\nno.,Total business income3\n$,Total business expenses3\nno.,Total business expenses3\n$,Net income or loss from business\nno.,Net income or loss from business\n$,Estimated business net tax\nno.,Estimated business net tax\n$,Australian superannuation income stream tax offset\nno.,Australian superannuation income stream tax offset\n$,Small business income tax offset\nno.,Small business income tax offset\n$,Low income tax offset\nno.,Low income tax offset\n$,Low and middle income tax offset\nno.,Low and middle income tax offset\n$,People with private health insurance\nno.,Private health insurance - your Australian Government rebate received\nno.,Private health insurance - your Australian Government rebate received\n$,Private health insurance rebate\nno.,Private health insurance rebate\n$,Excess private health reduction or refund (rebate reduced)\nno.,Excess private health reduction or refund (rebate reduced)\n$
0,Non Taxable,ACT,2600,1050,1006,12648452,259,610116,13,21049,1,634,0,0,0,0,0,0,412,4207103,347,474017,73,128193,1,17780,4,3951,67,485467,76,832606,9,92807,130,2543764,719,1360135,113,61159,344,1132319,344,484070,1022,14301623,19,37890,9,5593,32,3629,7,20027,67,45912,89,113051,26,19835,23,149204,34,83849,176,450739,8,9283,0,0,260,185450,439,1295040,2,27537,2,27813,15,127099,9,-146583,166,780751,95,105684,14,78269,1,1,10,141321,103,475885,0,0,131,1276263,88,2608389,147,1356918,112,386577,99,367595,189,5276603,121,1957377,116,482386,191,3060045,105,815778,86,-1038983,191,-223205,11,68210,2,16,1,8,18,26361,14,200821,19,71506,2,58149,70,2007776,72,2065925,60,1675266,74,330788,0,0,36,44951,1,56,178,59971,95,22502,742,468,430084,62,34128,53,25386
1,Non Taxable,ACT,2601,1173,1136,9900103,154,176445,3,6188,1,3278,0,0,0,0,0,0,812,7394233,723,784129,86,91004,3,1467,2,2969,132,933457,16,160796,5,19119,27,467744,826,477091,23,28092,61,132890,61,56744,1138,10217590,11,11450,15,7063,39,5022,6,44569,38,19700,78,87804,5,9163,4,2116,6,11826,49,42641,3,593,0,0,69,42703,167,220135,0,0,1,200,26,16489,2,7715,35,56272,22,8271,23,76244,0,0,6,66313,29,89407,0,0,33,225234,21,884287,41,443989,28,78051,20,100298,48,1798962,29,825634,27,192589,46,1019605,26,206620,22,-445486,48,-238866,2,5,2,35,0,0,6,20973,2,17000,4,5414,2,-14660,43,1357276,45,1342616,35,1247315,47,-59652,0,0,1,3210,2,15,116,36461,44,8931,377,127,77225,30,10380,7,2297
2,Non Taxable,ACT,2602,4194,4054,52275968,1182,1362902,19,11577,1,14,0,0,0,0,3,10323,2390,26009362,2114,2914641,399,689732,8,36501,11,15049,492,3780978,424,4968850,41,251853,405,7716367,2675,2706174,266,99902,861,1738720,855,738211,4070,55033949,102,164047,55,30139,234,47318,37,127070,305,184227,485,552801,65,23177,24,24163,61,83365,482,714900,21,33410,1,330,692,258347,1346,2360099,29,486170,1,27654,100,321831,10,-121115,362,1416277,223,199290,76,500901,1,10045,57,993791,220,614642,0,0,275,2016670,187,4895995,321,1444737,259,470229,236,171666,388,8709796,266,3436126,210,711827,390,4823887,208,1458258,184,-1720302,392,-262044,23,67855,6,1924,1,256,56,150560,30,491855,47,116360,10,276790,349,8091292,358,8368082,296,6342700,373,1160520,0,0,135,184048,9,291,812,265181,404,99011,2175,1294,884597,172,60678,123,42080
3,Non Taxable,ACT,2603,1060,1003,12662531,302,485408,8,9183,1,2986,0,0,0,0,4,23386,495,5725735,425,739675,73,236422,2,5112,3,973,83,703749,70,886121,9,90687,104,2009059,689,1029689,82,31403,285,929245,285,395347,1016,13900137,26,53817,14,8617,41,6958,7,5499,73,54098,109,128989,24,23390,9,74348,43,119275,124,244514,15,7135,0,0,204,118636,384,960892,3,24265,1,27500,17,131575,4,-160973,147,661054,85,168679,18,121768,0,0,9,236740,67,364435,0,0,106,1158090,88,3439177,119,886275,88,143508,87,141304,170,4841303,98,2037553,102,533935,167,2898625,86,606014,84,-1234824,170,-628810,12,16812,8,21608,0,0,12,20582,11,166066,17,76696,7,108958,62,2042033,68,2150991,60,1631024,71,216605,0,0,32,44549,4,190,208,68818,114,27038,682,418,346810,46,20473,55,26914
4,Non Taxable,ACT,2604,1224,1176,15351889,353,503655,20,16766,3,2745,0,0,0,0,1,5784,630,7368073,554,923569,112,138199,5,13577,4,4663,114,875918,137,1607738,6,39679,107,1937983,725,992526,96,43103,308,678459,308,287734,1188,16409659,35,62738,21,27465,69,12423,17,136946,95,50738,159,290310,34,14260,9,6609,25,50721,157,115361,6,7012,0,0,241,122393,442,876216,4,79692,0,0,28,168801,8,-247385,131,435642,91,106649,21,76370,0,0,16,143740,92,305489,0,0,115,669461,78,1105883,156,1479474,110,293789,119,193772,173,4062035,118,1689448,96,433896,173,2337383,92,602563,81,-1001255,173,-398692,11,21841,2,8285,0,0,28,94664,10,151402,30,110238,8,220873,90,2676906,98,2897779,87,2132261,105,683469,0,0,23,39643,0,0,239,77744,116,31954,685,448,332876,65,29331,65,18541

In [3]:
ABS_data_df = ABS_data_df.rename(columns={"Taxable income or loss3\n$": "Total Taxable Income","State/ Territory1":"State Abrev","Number of individuals\nno.":"No. of individuals"})
ABS_data_df.head()

,Taxable status,State Abrev,Postcode,No. of individuals,Taxable income or loss3\nno.,Total Taxable Income,Tax on taxable income\nno.,Tax on taxable income\n$,Medicare levy\nno.,Medicare levy\n$,Medicare levy surcharge\nno.,Medicare levy surcharge\n$,Total Medicare levy liability\nno.,Total Medicare levy liability\n$,Net tax\nno.,Net tax\n$,HELP assessment debt\nno.,HELP assessment debt\n$,Salary or wages\nno.,Salary or wages\n$,Tax withheld from salary or wages\nno.,Tax withheld from salary or wages\n$,Allowances earnings tips directors fees etc\nno.,Allowances earnings tips directors fees etc\n$,Employer lump sum payments amount A\nno.,Employer lump sum payments amount A\n$,Employment termination payments taxable component\nno.,Employment termination payments taxable component\n$,Australian government allowances and payments\nno.,Australian government allowances and payments\n$,Australian government pensions and allowances\nno.,Australian government pensions and allowances\n$,Australian annuities and superannuation income streams taxable component taxed element\nno.,Australian annuities and superannuation income streams taxable component taxed element\n$,Australian annuities and superannuation income streams taxable component untaxed element\nno.,Australian annuities and superannuation income streams taxable component untaxed element\n$,Gross interest\nno.,Gross interest\n$,Dividends unfranked\nno.,Dividends unfranked\n$,Dividends franked\nno.,Dividends franked\n$,Dividends franking credit\nno.,Dividends franking credit\n$,Total Income or Loss no.,Total Income or Loss,Total work related car expenses no.,Sum work related car expenses,Work related travel expenses no.,Work related travel expenses\n$,Total work related uniform/clothing expenses\nno.,Total work related uniform/clothing expenses\n$,Total work related self education expenses\nno.,Total work related self education expenses\n$,Other work related expenses\nno.,Other work related expenses\n$,Total work related expenses\nno.,Total work related expenses\n$,Low value pool deduction\nno.,Low value pool deduction\n$,Interest deductions\nno.,Interest deductions\n$,Dividend deductions\nno.,Dividend deductions\n$,Gifts or donations\nno.,Gifts or donations\n$,Cost of managing tax affairs - Interest charged by the ATO\nno.,Cost of managing tax affairs - Interest charged by the ATO\n$,Cost of managing tax affairs - Litigation costs\nno.,Cost of managing tax affairs - Litigation costs\n$,Cost of managing tax affairs - Other expenses incurred in managing your tax affairs\nno.,Cost of managing tax affairs - Other expenses incurred in managing your tax affairs\n$,Total deductions3\nno.,Total deductions3\n$,Total reportable fringe benefits amounts - Employers exempt from FBT under section 57A of the FBTAA 1986\nno.,Total reportable fringe benefits amounts - Employers exempt from FBT under section 57A of the FBTAA 1986\n$,Total reportable fringe benefits amounts - Employers not exempt from FBT under section 57A of the FBTAA 1986\nno.,Total reportable fringe benefits amounts - Employers not exempt from FBT under section 57A of the FBTAA 1986\n$,Reportable employer superannuation contributions\nno.,Reportable employer superannuation contributions\n$,Net primary production distribution\nno.,Net primary production distribution\n$,Net non primary production distribution\nno.,Net non primary production distribution\n$,Share of franking credit from franked dividends\nno.,Share of franking credit from franked dividends\n$,Net PSI transferred\nno.,Net PSI transferred\n$,Deferred non-commercial business losses primary production deferred losses\nno.,Deferred non-commercial business losses primary production deferred losses\n$,Deferred non-commercial business losses non primary production deferred losses\nno.,Deferred non-commercial business losses non primary production deferred losses\n$,Capital gains net capital gain\nno.,Capital gains net capital gain\n$,Estimated tax on net capital gains\nno.,Estimated tax on net capital gains\n$,Capital gains total current year capital gains\nno.,Capital gains total current year capital gains\n$,Capital gains net capital losses carrier forward\nno.,Capital gains net capital losses carrier forward\n$,Foreign source income assessable foreign source income\nno.,Foreign source income assessable foreign source income\n$,Foreign source income other net foreign source income\nno.,Foreign source income other net foreign source income\n$,Foreign source income foreign income tax offset\nno.,Foreign source income foreign income tax offset\n$,Gross rent\nno.,Gross rent\n$,Rent interest deductions\nno.,Rent interest deductions\n$,Rent capital works deductions\nno.,Rent capital works deductions\n$,Rent other rental deductions\nno.,Rent other rental deductions\n$,Net rent - profit no.,Net rent - profit \n$,Net rent - loss \nno.,Net rent - loss \n$,Net rent3\nno.,Net rent3\n$,Other income category 1\nno.,Other income category 1\n$,Other income category 2 (ATO Interest)\nno.,Other income category 2 (ATO Interest)\n$,Other income category 3 (FHSS)\nno.,Other income category 3 (FHSS)\n$,Other income category 4\nno.,Other income category 4\n$,Personal superannuation contributions\nno.,Personal superannuation contributions\n$,Other deductions\nno.,Other deductions\n$,Total business income - primary production\nno.,Total business income - primary production\n$,Total business income non-primary production\nno.,Total business income non-primary production\n$,Total business income3\nno.,Total business income3\n$,Total business expenses3\nno.,Total business expenses3\n$,Net income or loss from business\nno.,Net income or loss from business\n$,Estimated business net tax\nno.,Estimated business net tax\n$,Australian superannuation income stream tax offset\nno.,Australian superannuation income stream tax offset\n$,Small business income tax offset\nno.,Small business income tax offset\n$,Low income tax offset\nno.,Low income tax offset\n$,Low and middle income tax offset\nno.,Low and middle income tax offset\n$,People with private health insurance\nno.,Private health insurance - your Australian Government rebate received\nno.,Private health insurance - your Australian Government rebate received\n$,Private health insurance rebate\nno.,Private health insurance rebate\n$,Excess private health reduction or refund (rebate reduced)\nno.,Excess private health reduction or refund (rebate reduced)\n$
0,Non Taxable,ACT,2600,1050,1006,12648452,259,610116,13,21049,1,634,0,0,0,0,0,0,412,4207103,347,474017,73,128193,1,17780,4,3951,67,485467,76,832606,9,92807,130,2543764,719,1360135,113,61159,344,1132319,344,484070,1022,14301623,19,37890,9,5593,32,3629,7,20027,67,45912,89,113051,26,19835,23,149204,34,83849,176,450739,8,9283,0,0,260,185450,439,1295040,2,27537,2,27813,15,127099,9,-146583,166,780751,95,105684,14,78269,1,1,10,141321,103,475885,0,0,131,1276263,88,2608389,147,1356918,112,386577,99,367595,189,5276603,121,1957377,116,482386,191,3060045,105,815778,86,-1038983,191,-223205,11,68210,2,16,1,8,18,26361,14,200821,19,71506,2,58149,70,2007776,72,2065925,60,1675266,74,330788,0,0,36,44951,1,56,178,59971,95,22502,742,468,430084,62,34128,53,25386
1,Non Taxable,ACT,2601,1173,1136,9900103,154,176445,3,6188,1,3278,0,0,0,0,0,0,812,7394233,723,784129,86,91004,3,1467,2,2969,132,933457,16,160796,5,19119,27,467744,826,477091,23,28092,61,132890,61,56744,1138,10217590,11,11450,15,7063,39,5022,6,44569,38,19700,78,87804,5,9163,4,2116,6,11826,49,42641,3,593,0,0,69,42703,167,220135,0,0,1,200,26,16489,2,7715,35,56272,22,8271,23,76244,0,0,6,66313,29,89407,0,0,33,225234,21,884287,41,443989,28,78051,20,100298,48,1798962,29,825634,27,192589,46,1019605,26,206620,22,-445486,48,-238866,2,5,2,35,0,0,6,20973,2,17000,4,5414,2,-14660,43,1357276,45,1342616,35,1247315,47,-59652,0,0,1,3210,2,15,116,36461,44,8931,377,127,77225,30,10380,7,2297
2,Non Taxable,ACT,2602,4194,4054,52275968,1182,1362902,19,11577,1,14,0,0,0,0,3,10323,2390,26009362,2114,2914641,399,689732,8,36501,11,15049,492,3780978,424,4968850,41,251853,405,7716367,2675,2706174,266,99902,861,1738720,855,738211,4070,55033949,102,164047,55,30139,234,47318,37,127070,305,184227,485,552801,65,23177,24,24163,61,83365,482,714900,21,33410,1,330,692,258347,1346,2360099,29,486170,1,27654,100,321831,10,-121115,362,1416277,223,199290,76,500901,1,10045,57,993791,220,614642,0,0,275,2016670,187,4895995,321,1444737,259,470229,236,171666,388,8709796,266,3436126,210,711827,390,4823887,208,1458258,184,-1720302,392,-262044,23,67855,6,1924,1,256,56,150560,30,491855,47,116360,10,276790,349,8091292,358,8368082,296,6342700,373,1160520,0,0,135,184048,9,291,812,265181,404,99011,2175,1294,884597,172,60678,123,42080
3,Non Taxable,ACT,2603,1060,1003,12662531,302,485408,8,9183,1,2986,0,0,0,0,4,23386,495,5725735,425,739675,73,236422,2,5112,3,973,83,703749,70,886121,9,90687,104,2009059,689,1029689,82,31403,285,929245,285,395347,1016,13900137,26,53817,14,8617,41,6958,7,5499,73,54098,109,128989,24,23390,9,74348,43,119275,124,244514,15,7135,0,0,204,118636,384,960892,3,24265,1,27500,17,131575,4,-160973,147,661054,85,168679,18,121768,0,0,9,236740,67,364435,0,0,106,1158090,88,3439177,119,886275,88,143508,87,141304,170,4841303,98,2037553,102,533935,167,2898625,86,606014,84,-1234824,170,-628810,12,16812,8,21608,0,0,12,20582,11,166066,17,76696,7,108958,62,2042033,68,2150991,60,1631024,71,216605,0,0,32,44549,4,190,208,68818,114,27038,682,418,346810,46,20473,55,26914
4,Non Taxable,ACT,2604,1224,1176,15351889,353,503655,20,16766,3,2745,0,0,0,0,1,5784,630,7368073,554,923569,112,138199,5,13577,4,4663,114,875918,137,1607738,6,39679,107,1937983,725,992526,96,43103,308,678459,308,287734,1188,16409659,35,62738,21,27465,69,12423,17,136946,95,50738,159,290310,34,14260,9,6609,25,50721,157,115361,6,7012,0,0,241,122393,442,876216,4,79692,0,0,28,168801,8,-247385,131,435642,91,106649,21,76370,0,0,16,143740,92,305489,0,0,115,669461,78,1105883,156,1479474,110,293789,119,193772,173,4062035,118,1689448,96,433896,173,2337383,92,602563,81,-1001255,173,-398692,11,21841,2,8285,0,0,28,94664,10,151402,30,110238,8,220873,90,2676906,98,2897779,87,2132261,105,683469,0,0,23,39643,0,0,239,77744,116,31954,685,448,332876,65,29331,65,18541

In [4]:
ABS_data_df.columns

Index(['Taxable status', 'State Abrev', 'Postcode', 'No. of individuals',
       'Taxable income or loss3\nno.', 'Total Taxable Income',
       'Tax on taxable income\nno.', 'Tax on taxable income\n$',
       'Medicare levy\nno.', 'Medicare levy\n$',
       ...
       'Low income tax offset\n$', 'Low and middle income tax offset\nno.',
       'Low and middle income tax offset\n$',
       'People with private health insurance\nno.',
       'Private health insurance - your Australian Government rebate received\nno.',
       'Private health insurance - your Australian Government rebate received\n$',
       'Private health insurance rebate\nno.',
       'Private health insurance rebate\n$',
       'Excess private health reduction or refund (rebate reduced)\nno.',
       'Excess private health reduction or refund (rebate reduced)\n$'],
      dtype='object', length=159)

In [5]:
# ABS_data_df2 = ABS_data_df[["State Abrev","Postcode","No. of individuals","Total Taxable Income","Total work related car expenses no.","Sum work related car expenses"]]
ABS_data_df2 = ABS_data_df[["State Abrev","Postcode","No. of individuals","Total Taxable Income", "Total work related car expenses no.","Sum work related car expenses"]]
ABS_data_df2.head()

,State Abrev,Postcode,No. of individuals,Total Taxable Income,Total work related car expenses no.,Sum work related car expenses
0,ACT,2600,1050,12648452,19,37890
1,ACT,2601,1173,9900103,11,11450
2,ACT,2602,4194,52275968,102,164047
3,ACT,2603,1060,12662531,26,53817
4,ACT,2604,1224,15351889,35,62738

In [6]:
ABS_data_df2["Avg Taxable Income"] = ABS_data_df2["Total Taxable Income"] / ABS_data_df2["No. of individuals"]
ABS_data_df2["Avg WR car expense"] = ABS_data_df2["Sum work related car expenses"] / ABS_data_df2["Total work related car expenses no."]
ABS_data_df2.head()

<ipython-input-6-f7b89928417b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ABS_data_df2["Avg Taxable Income"] = ABS_data_df2["Total Taxable Income"] / ABS_data_df2["No. of individuals"]
<ipython-input-6-f7b89928417b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ABS_data_df2["Avg WR car expense"] = ABS_data_df2["Sum work related car expenses"] / ABS_data_df2["Total work related car expenses no."]

,State Abrev,Postcode,No. of individuals,Total Taxable Income,Total work related car expenses no.,Sum work related car expenses,Avg Taxable Income,Avg WR car expense
0,ACT,2600,1050,12648452,19,37890,12046.144762,1994.210526
1,ACT,2601,1173,9900103,11,11450,8439.985507,1040.909091
2,ACT,2602,4194,52275968,102,164047,12464.465427,1608.303922
3,ACT,2603,1060,12662531,26,53817,11945.783962,2069.884615
4,ACT,2604,1224,15351889,35,62738,12542.392974,1792.514286

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
abs_data.to_csv("Output/fileOne.csv", index=False, header=True)